@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --phone-height: min(600px, 80vmin, calc(100vh - 200px));
}

@media (orientation: portrait) {
  :root {
    --phone-height: min(600px, 60vmax, calc(100vh - 200px));
  }
}

* {
  overscroll-behavior: none;
}

html,
body {
  @apply w-full h-screen scroll-smooth;
}

body {
  @apply bg-white text-black font-system overflow-x-hidden;
}

main {
  -webkit-overflow-scrolling: touch;
}
