@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overscroll-behavior: none;
}

html,
body {
  width: 100%;
  height: 100svh;
}

body {
  background-color: #fff;
  color: #000;
  font-family: system-ui;
}

swiper-container {
  --swiper-theme-color: #000;

  width: 100%;
  height: 100svh;

  z-index: 0;
}

swiper-slide {
  @apply max-w-2xl w-full h-full mx-auto;
}
